@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');


body {
    background-color: rgb(103, 152, 242);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main {
    width: 60%;
    margin: auto;
}

#user-game-info-container {
    background-color: red;
}

#word-list-container {
    background-color: green;
}

#letters-used-container {
    background-color: orange;
}

#letters-available-container {
    background-color: purple;
}

#player-list-container {
    background-color: green;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.player {
    background-color: blue;
    padding: 10px;
    margin: 5px;
}

#shuffle-container {
    position: fixed;
    bottom: 0;
    left: 0;
}

#shuffle-wrapper {
    padding: 20px;
}

#shuffle-button {
    padding: 10px;
    background-color: green;
}

#keybinds-container {
    position: fixed; 
    top: 0;
    right: 0;
    margin: 10px;
}

#keybinds-wrapper {
    background-color: green;
    padding: 5px;
}

#connection-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
}

#name-input, #chat-input {
    width: 300px;
    height: 30px;
}

#chat-container {
    background-color: purple;
    padding: 10px;
    margin: 10px;
    position: fixed;
    left: 0;
    bottom: 100px;
}

#chat {
    height: 300px;
    width: 400px;
    overflow-y: scroll;
    overflow-x:visible;
}

.bad {
    color: red;
}

.good {
    color: rgb(120, 233, 120);
}